.profile__add-button {
    background-color: black;
    outline: none;
    border: 2px solid #FFFFFF;
    padding: 14px 64px;
    max-height: 50px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        min-width: 100%;
        padding: 14px 50px;
    }
    .profile__add-button > img {
        max-width: 16px;
    }
}
