.profile__add-button {
    background: transparent;
    outline: none;
    border: 2px solid #FFFFFF;
    padding: 14px 64px;
    max-height: 50px;
    cursor: pointer;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        min-width: 100%;
        padding: 14px 50px;
    }
}
